body {
    background-color: #F8F8FF;
}

#logout {
    color: #FFFFFF;
    background-color: #228B22;
    text-decoration: none;
    border: solid black;
    font-weight: bold;
    padding: 0.1em;
    border-radius: 0.8em;
    margin-left: 1em;
}

#logout:hover {
    background-color: #DC143C;
}

#excelButton:active {
    transform: scale(0.9);
}

#userInput {
    color: blue;
    font-weight: bold;
    border: solid black;
    height: 2em;
}

#userInput:hover {
    background-color: #FFF8DC;
}

#excelButton {
    color: #FFFFFF;
    background-color: #228B22;
    border: solid black;
    height: 1.75em;
    border-radius: 50px;
    font-size: 1em;
    font-weight: bold;
}

#excelButton:hover {
    font-weight: 100%;
}

#excelButton:active {
    transform: scale(0.9);
}

#firstPage, #pageBack, #pageForward, #lastPage {
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 0.2em;
    font-weight: bold;
    border: solid black;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #228B22;
}

#pageNumber {
    font-weight: bold;
    margin-left: 0.3em;
}

p {
    font-family: system-ui;
}

section {
    width: 110em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: system-ui;
}

table {
    background-color: #FFFAF0;
}

table, td, th {
    border: thin black;
    width: 110em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: system-ui;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #6495ED;
}

td, footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

div.pagination {
    /* */
    text-align: center;
}

footer {
    font-style: normal;
    font-family: system-ui;
}