body {
    background-color: #F8F8FF;
}

p {
    font-family: system-ui;
}

#welcomeMsg {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section {
    width: 110em;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: system-ui;
}

table {
    background-color: #FFFAF0;
}

table, td, th {
    border: solid black;
    width: 110em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th {
    font-family: system-ui;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #6495ED;
}

td, footer {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

footer {
    font-style: normal;
    font-family: system-ui;
}